---
import Layout from "@/layouts/Layout.astro"
import AboutMe from "@/components/AboutMe.astro"
import Books from "@/components/icons/Books.astro"
import PaletteIcon from "@/components/icons/Palette.astro"
import Preparacion from "@/components/Preparacion.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
---

<Layout
  title="Portafolio de Alexa Hernandez - Licenciada en Artes Visuales para la Expresión Plástica"
  description="Conoce a Alexa Hernandez. Artista Plástica. Actualmente cursando la carrera de Licenciatura en Artes Visuales para la Expresión Plástica."
>
  <main class="px-4">
    <SectionContainer id="home" class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="preparacion">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Books class="size-8" />
        Preparación
      </h2>
      <Preparacion />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <PaletteIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
