---
 const personalImageAlt = "Alexa Hernandez"
 import BrushIcon from "@/components/icons/Brush.astro"
 import BulbIcon from "@/components/icons/Bulb.astro"
 import BriefcaseIcon from "@/components/icons/Briefcase.astro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#CA2E55] dark:[&>p>strong]:text-[#60AB9A] text-pretty order-2 md:order-1"
  >
    <div class=" text-pretty grid grid-cols-2 text-center gap-4 [&>div>strong]:text-[#CA2E55] dark:[&>div>strong]:text-[#60AB9A]">
      <div class="m-1 text-xl text-[#60AB9A] dark:text-[#F4C1C0] font-bold">CONOCIMIENTOS</div>
      <div class="m-1 text-xl text-[#60AB9A] dark:text-[#F4C1C0] font-bold">HABILIDADES</div>
      <div><strong>Historia del Arte</strong></div>
      <div><strong>Creatividad</strong></div>
      <div><strong>Corrientes Artísticas</strong></div>
      <div><strong>Facilidad de Palabra</strong></div>
      <div><strong>Medios Alternativos para Murales</strong></div>
      <div><strong>Resolución de Problemas</strong></div>
      <div><strong>Técnicas de Pintura Aceite y Agua</strong></div>
      <div><strong>Organización y Planificación</strong></div>
    <br></div>
    <div class="[&>p]:mb-4 [&>div]:mb-4 [&>p>strong]:text-[#CA2E55] dark:[&>p>strong]:text-[#60AB9A] text-pretty order-2 md:order-1 [&>div>strong]:text-[#60AB9A] dark:[&>div>strong]:text-[#F4C1C0]">
      <div class="flex justify-center gap-4 mt-4 text-xl">
        <BriefcaseIcon/>
        <strong>EXPERIENCIAS</strong>
    </div>
    <p>
      Me gusta mucho el cine y el teatro, me tocó <strong>dirigir</strong> y <strong>producir</strong> algunas obras de 
      <strong>teatro de sombras</strong> en la preparatoria 6 y he participado haciendo <strong>grabaciones de
      comerciales</strong> con la casa productora <strong>NAHUYACA FILMS</strong> en Guadalajara cuando radicaba ahí.
      También en la escuela me tocó hacer <strong>guiones</strong> y <strong>storyboards</strong>, mi parte favorita.
    </p>
    <div class="flex justify-center gap-4 mt-4 text-xl">
      <BulbIcon/>
      <strong>PROCESO CREATIVO</strong>
    </div>
    <p>
      Colores fríos o <strong>piezas monocromáticas</strong> cuando hay <strong>estabilidad mental</strong> o melancolía,
      colores vibrantes ante la <strong>resolución</strong> de una crisis de ansiedad reproducir sonidos 
      tibetanos <strong>meditación</strong> los espirales como signo de lucha / inseguridad o inestabilidad 
      distorsión del todo o nada, <strong>maximizando</strong>, sin medias tintas.
    </p>
    <div class="flex justify-center gap-4 mt-4 text-xl">
      <BrushIcon/>
      <strong>MI PRÁCTICA ARTÍSTICA</strong>
    </div>
    <p>
      Se <strong>desarrolla</strong> sobre la <strong>experiencia personal</strong> cotidiana con <strong>TDAH, TOC, TAG</strong> y
      la búsqueda de identidad, utilizo elementos de autoreferencia en mis procesos
      para generar <strong>múltiples reflexiones</strong> sobre la memoria, el cuerpo y la mente;
      que son interpretadas en distintos formatos como <strong>la pintura, la cerámica,
      el grabado y el videoperformance.</strong>
    </p>
  </div>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-[#60AB9A] ring-1 ring-black/70 dark:ring-[#CA2E55]" style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
