
---
import AguadaIcon from "./icons/tecnicas/Aguada.astro"
import TonalIcon from "./icons/tecnicas/Tonal.astro"
import CalcografiaIcon from "./icons/tecnicas/Calcografia.astro"
import RelieveIcon from "./icons/tecnicas/Relieve.astro"
import GrabadoIcon from "./icons/tecnicas/Grabado.astro"
import TexturizadoIcon from "./icons/tecnicas/Textura.astro"

const TAGS = {
  /* Pildoras de Medio */
  AGUADA: {
    name: "Aguada",
    class: "bg-[#003159] text-white",
    icon: AguadaIcon,
  },
  TONAL: {
    name: "Tonal",
    class: "bg-[#003159] text-white",
    icon: TonalIcon,
  },
  CALCOGRAFIA: {
    name: "Calcografia",
    class: "bg-[#003159] text-white",
    icon: CalcografiaIcon,
  },
  RELIEVE: {
    name: "Relieve",
    class: "bg-[#003159] text-white",
    icon: RelieveIcon,
  },
  GRABADO: {
    name: "Grabado",
    class: "bg-[#003159] text-white",
    icon: GrabadoIcon,
  },
  TEXTURIZADO: {
    name: "Texturizado",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  ENCAUSTICA: {
    name: "Encaustica",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  FROTTAGE: {
    name: "Frottage",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  HUMEDO: {
    name: "Humedo/humedo",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  SECO: {
    name: "Humedo/seco",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  PINCELS: {
    name: "Pincel seco",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  PUNTILLISMO: {
    name: "Puntillismo",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  TRAZOFINO: {
    name: "Trazo fino",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  /* Pildoras de Medio */
  ACRILICA: {
    name: "Acrilica",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  ESTAMPADO: {
    name: "Estampado",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  CERAMICA: {
    name: "Ceramica",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  MIXTA: {
    name: "Mixta",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  GRAFITO: {
    name: "Grafito",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  OLEOPASTEL: {
    name: "Oleo pastel",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  BOLIGRAFO: {
    name: "Boligrafo",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  ACUARELA: {
    name: "Acuarela",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
  LAPIZCERA : {
    name: "Lapiz Cera",
    class: "bg-[#003159] text-white",
    icon: TexturizadoIcon,
  },
}

const PROJECTS = [
  {
    title: "Autorregulacion",
    description:
      "Carton entelado 18x25cm 2022",
    image: "/projects/h-1.webp",
    tags: [TAGS.TONAL],
  },
  {
    title: "Extasis",
    description:
      "Carton entelado 18x25cm 2024",
    image: "/projects/v-1.webp",
    tags: [TAGS.TONAL],
  },
  {
    title: "Rostros en crisis",
    description:
      "Escultura Varios tamaños 2023",
    image: "/projects/v-3.webp",
    tags: [TAGS.RELIEVE],
  },
  {
    title: "Babilonia",
    description:
      "Papel algodon 50x50cm 2023",
    image: "/projects/v-2.webp",
    tags: [TAGS.GRABADO],
  },
  {
    title: "Piscis",
    description:
      "Canvas 120x80cm 2023",
    image: "/projects/v-5.webp",
    tags: [TAGS.TEXTURIZADO],
  },
]
---

<div id="controls-carousel" class="relative w-full" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="grid relative md:row-start-2 md:col-span-5 place-content-center">
            <div class="flex flex-col max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <img alt= "Foto de proyecto Autorregulacion" class="rounded-t-lg" src="/projects/h-1.webp"/>
            </div>
            <div class="p-5">
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                Autorregulacion
              </h3>
              <div class="flex flex-wrap mt-1 space-x-4">
                <ul class="flex flex-row mb-1 gap-x-2">
                  <li class="content-evenly">
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${TAGS.TONAL.class} py-1 px-2 `}
                    >
                      <TAGS.TONAL.icon class="size-4" />
                      {TAGS.TONAL.name}
                    </span>
                  </li>
                </ul>
                <div class="mt-2 text-wrap text-gray-700 dark:text-gray-400"><p>Carton entelado</p><p>18x25cm</p><p>2022</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img src="/docs/images/carousel/carousel-2.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/docs/images/carousel/carousel-3.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/docs/images/carousel/carousel-4.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/docs/images/carousel/carousel-5.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>
