---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Estudiante de Artes Plásticas",
    company: "Centro Universitario de la Costa",
    description:
      "Me encuentro cursando la Licenciatura en Artes para la Expresión Plástica. Estoy en 8vo semestre, con las prácticas profesionales en curso.",
    link: "http://www.cuc.udg.mx/es/plan-de-estudios-4",
  },
  {
    date: "2023",
    title: "Clases de Modelado con Cerámica",
    company: "Arte Daría Centro",
    description:
      "En este curso de cerámica trabajé con yeso, porcelana flexible, arcilla y barro; posteriormente usé la cerámica para realizar unas máscaras/lámparas de pared, me sirvió mucho de forma terapéutica por el trabajo con la temperatura, la moldeabilidad y los detalles.",
  },
  {
    date: "2023",
    title: "Cursos de TICS (Photoshop, Ilustrador)",
    company: "YouTube",
    description:
      "Aprendí el manejo de programas digitales y el contraste con lo análogo, asistí a una conferencia del congreso Marejada, de Carla Kappei. La tecnología y generar imágenes abstractas con la IA fueron los temas principales.",
  },
  {
    date: "2022",
    title: "Curso de Acuarela y Oleo",
    company: "Domestika",
    description:
      "Tratamos algunas técnicas como aguadas, húmedo sobre húmedo, seco sobre seco y húmedo sobre seco. Por otro lado en el óleo, el mantenimiento de las obras, uso de pinceles y espátulas, técnica grasso sobre magro  y teoría del color en la paleta.",
  },
  {
    date: "2022",
    title: "Cursos de Ilustracion Botanica",
    company: "Domestika",
    description:
      "Aquí aprendí a observar y ser minuciosa, pues trabajar con plantas a blanco y negro y en acuarela fue un reto completamente por lo complejo que es retratar flores de no fantasía.",
  },
  {
    date: "2012 - 2022",
    title: "Clases de Danza Flamenca",
    company: "Estudio Jaleo",
    description:
      "Empecé desde los 12 años a introducirme en el clásico español, posteriormente sevillanas, fandango y flamenco; uso de castañuelas, abanicos y mantos.",
  },
  {
    date: "2009",
    title: "Cursos de danza Contemporanea, Bellydance y Taitiano",
    company: "Arte Escenica",
    description:
      "Bailo desde los 9 años ballet clásico y posteriormente bellydance, contemporáneo, taitiano, etc; he podido conocer las diferentes culturas e historias de cada danza.",
  },
  {
    date: "2006",
    title: "Clases de Pintura Acrilica",
    company: "Instituto Cuale Puerto Vallarta",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
